<p>
<table class="pure-table" >
      <tr>
        <td></td>
        <td></td>
        <td></td>
	  </tr>
    <% @articles.each do |article| %>
    <tr>
<!--     <td><%= article.title %></td> -->
<!--     <% if article.text.length > 50 %>
    <td><%= strip_tags(article.text.slice(0..50)) + "..." %></td>
    <% else %>
    <td><%= strip_tags(article.text) %></td>
    <% end %> -->
    <td><%= link_to "#{article.title}", article, :"data-no-turbolink" => true  %></td>
    <td><%= link_to "Edit", edit_article_path(article) %></td>
    <td><%= link_to "Delete", article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>
</div>
<div>
