<div class="notice"><%= flash[:notice] %></div>
<h1 align="center"><%= @article.title.html_safe %></h1>
<div class="container">

  <div class="col2-12">
  </div>

  <div class="col8-12">
  <div>
    <p><%= @article.text.gsub(/font-family: [^;]*;/,"font-family: 'PT Sans', sans-serif;").html_safe  %></p>
  </div>
  <%= tinymce_assets %>
  <%= tinymce %>
  <hr class="hr_settings "/>

  <% if @article.comments.any? %>
  <h3>Comments:</h3>
  <div><% @article.comments.each do |comment| %>
    <strong>Commenter</strong>
    <p><%= comment.commenter %></p>
    <strong>Comment</strong>
    <p><%= comment.body.html_safe %></p>
    <% if current_user.try(:admin?) %>
      <p><%= link_to 'Delete', [comment.article, comment], method: :delete, data: {confirm: 'Are you sure?'} %></p>
    <% end %>
    <hr class="hr_settings "/>
    <% end %> 
  <div>
  <% end %>

  <% if user_signed_in? %>
  <h4>Add a comment:</h3>

  <%= form_for [@article, @article.comments.build], html: { class: "pure-form" } do |f| %>
    <div class="field">

    <p><%= f.text_field :commenter, value: current_user.email, readonly: true %></p>
    </div>
    <div class="field">
    
    <p><%= f.text_area :body, class: "tinymce", :placeholder => "Comment" %></p>
    </div>
    <%= f.submit class: "button-success button-secondary pure-button pure-button-primary" %>
  <% end %>
  <% end %>
  </div>

  <div class="col2-12">
  </div>
</div>