<% if @article != nil %>

<h2 align="center"><strong><%= @article.title.html_safe %></strong></h2>
<p><%= @article.text.html_safe %></p>

<% end %>
<%= tinymce_assets %>
<%= tinymce %>
<hr class="hr_settings "/>
<h3>Comments:</h2>
<% if @article.comments.any? %>
<div><% @article.comments.each do |comment| %>
  <strong>Commenter</strong>
  <p><%= comment.commenter %></p>
  <strong>Comment</strong>
  <p><%= comment.body.html_safe %></p>
  <p><%= link_to 'Delete', [comment.article, comment], method: :delete, data: {confirm: 'Are you sure?'} %></p>
  <hr class="hr_settings "/>
  <% end %> 
<div>
<% end %>

<h4>Add a comment:</h3>

<%= form_for [@article, @article.comments.build], html: { class: "pure-form" } do |f| %>
  <div class="field">

  <p><%= f.text_field :commenter, :placeholder => "Commenter" %></p>
  </div>
  <div class="field">

  <p><%= f.text_area :body, class: "tinymce", :placeholder => "Comment" %></p>
  </div>
  <%= f.submit class: "button-success button-secondary pure-button pure-button-primary" %>
<% end %>