<script type="text/javascript" src="/assets/resumeBuilder.js"></script>
<div class="container" >

  <div class="col12-12 sl-slide-wrapper" id="slider">

    <div class="sl-slider"> 

        <div class="sl-slides-wrappper">

              <div class="portfolio-header bg-1 sl-slide-horizontal"  style="padding-bottom: 400px;">
 
                  <div class="sl-content-wrapper">                

                      <div class="sl-content">

                            <i class="fa fa-keyboard-o fa-4x" style="color: white; margin-top: 160px"></i>
                            <h1 style="font-size: 4em;"><strong>LOOKING FOR A GREAT TEAM PLAYER?</strong></h1>

                      </div>

                  </div>

              </div>

              <div class="portfolio-header bg-2 sl-slide-horizontal"  style="padding-bottom: 400px;">
 
                  <div class="sl-content-wrapper">                

                      <div class="sl-content">

                            <i class="fa fa-keyboard-o fa-4x" style="color: white; margin-top: 160px"></i>
                            <h1 style="font-size: 4em;"><strong><%= "Experienced and multitasking player".upcase %></strong></h1>
                          
                      </div>

                  </div>

              </div>

              <div class="portfolio-header bg-3 sl-slide-horizontal"  style="padding-bottom: 400px;">
 
                  <div class="sl-content-wrapper">                

                      <div class="sl-content">

                            <i class="fa fa-keyboard-o fa-4x" style="color: white; margin-top: 160px"></i>
                            <h1 style="font-size: 4em;"><strong>HIRE ME</strong></h1>


                      </div>

                  </div>

              </div>

          </div>

    </div>

    <nav id="nav-arrows" class="nav-arrows">
      <span class="nav-arrows-prev prev">Previous</span>
      <span class="nav-arrows-next next">Next</span>
    </nav>

    <nav id="nav-dots" class="nav-dots">
      <span class="nav-dot-current"></span>
      <span></span>
      <span></span>
    </nav>

    <button id="arrow">
      <span>↓</span>
    </button>

  </div>

</div>

<div id="main" class="container" style="margin-top: 10px; padding-top: 30px" >
  <div class="col2-12"></div> 
  <div class="col8-12">
      
        <h2 align="center"><strong>Check out the below items</strong></h2>

  </div>
  <div class="col2-12"></div>      
</div>


<div class="container" style="margin-top: 40px">
  <div class="col2-12"></div>
  <div class="col1-12" align="center"><i class="fa fa-laptop fa-3x"></i></div>
  <div class="col3-12"><h4>Ipsum sapien elementum portitor?</h4>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.</div>
  <div class="col1-12" align="center"><i class="fa fa-camera fa-3x"></i></div>
  <div class="col3-12"><h4>Ipsum sapien elementum portitor?</h4>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.</div>
  <div class="col2-12"></div>
</div>

<div class="container" style="margin-top: 40px" style="margin-bottom: 40px">
  <div class="col2-12"></div>
  <div class="col1-12" align="center"><i class="fa fa-coffee fa-3x"></i></div>
  <div class="col3-12"><h4>Ipsum sapien elementum portitor?</h4>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.</div>
  <div class="col1-12" align="center"><i class="fa fa-calculator fa-3x"></i></div>
  <div class="col3-12"><h4>Ipsum sapien elementum portitor?</h4>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.</div>
  <div class="col2-12"></div>
</div>

<div class="container" style="margin-top: 40px">
  <div class="col2-12"></div>
  <div class="col1-12" align="center"><i class="fa fa-bug fa-3x"></i></div>
  <div class="col3-12"><h4>Ipsum sapien elementum portitor?</h4>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.</div>
  <div class="col1-12" align="center"><i class="fa fa-code fa-3x"></i></div>
  <div class="col3-12"><h4>Ipsum sapien elementum portitor?</h4>Eget mattis at, laoreet vel et velit aliquam diam ante, aliquet sit amet vulputate. Eget mattis at, laoreet vel velit lorem.Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.
Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.</div>
  <div class="col2-12"></div>
</div>

<div id="sheet" class="radio" style="background-color: #262626">
<div class="container timesheet-layout" >
  <div class="col2-12"></div>
    <div class="col8-12 timesheet-title">
      <h2 align="center"><strong><i class="fa fa-calendar-o"></i> Timesheet</strong></h2>
      <div id="timesheet">

                          <script align="center" type="text/javascript">
                          new Timesheet('timesheet', 2010, 2015, [
                            ['2010','2011', 'AGH Univeristy of Science and Technology', 'lorem'],
                            ['06/2011', '10/2012','Test Engineer, Motorola Solutions','dolor'],
                            ['10/2012', '10/2013','Software Enigneer in Test Automation, Motorola Solutions','default'],
                            ['10/2013', '2015', 'Software Developer, Motorola Solutions', 'ipsum']                          
                          ]);</script>

      </div>  
    </div>
  <div class="col2-12"></div>
</div>



<div class="container" style="margin-top: 10px;">
  <div class="col2-12"></div>
  <div class="col8-12">
    <table style="color: white" width="100%" align="center">
    <tr>
      <td width="33%"><h2 style="font-size: 1.2em;color: RGBA(244, 207, 48, 1); text-align: center"><i class="fa fa-file-text fa-3x"></i></h2>
      </td>
      <td width="33%"><h2 style="font-size: 1.2em;color: RGBA(252, 70, 74, 1); text-align: center"><i class="fa fa-file-text fa-3x"></i></h2></td>
      <td width="33%"><h2 style="font-size: 1.2em;color: RGBA(60, 182, 227, 1); text-align: center"><i class="fa fa-file-text fa-3x"></i></h2></td>      
    </tr>
    <tr>
      <td><h2 style="font-size: 1em;color: white; text-align: center">Test Engineer</h2><hr width="15%"></td>
      <td><h2 style="font-size: 1em;color: white; text-align: center">Software Enigneer in Test Automation</h2><hr width="15%"></td>
      <td><h2 style="font-size: 1em;color: white; text-align: center">Software Developer</h2><hr width="15%"></td>  
    </tr>
    <tr>
      <td><ul class="fa-ul" style="color: white">
        <li><i class="fa-li fa fa-check-square"></i>Ipsum sapien elementum portitor?</li>
        <li><i class="fa-li fa fa-check-square"></i>Eget mattis at, laoreet vel et velit aliquam diam ante</li>
        <li><i class="fa-li fa fa-check-square"></i>aliquet sit amet vulputate</li>
        <li><i class="fa-li fa fa-check-square"></i>Eget mattis at, laoreet vel velit lorem</li>
      </ul></td>
      <td><ul class="fa-ul" style="color: white">
        <li><i class="fa-li fa fa-check-square"></i>Ipsum sapien elementum portitor?</li>
        <li><i class="fa-li fa fa-check-square"></i>Eget mattis at, laoreet vel et velit aliquam diam ante</li>
        <li><i class="fa-li fa fa-check-square"></i>aliquet sit amet vulputate</li>
        <li><i class="fa-li fa fa-check-square"></i>Eget mattis at, laoreet vel velit lorem</li>
      </ul></td>
      <td><ul class="fa-ul" style="color: white">
        <li><i class="fa-li fa fa-check-square"></i>Ipsum sapien elementum portitor?</li>
        <li><i class="fa-li fa fa-check-square"></i>Eget mattis at, laoreet vel et velit aliquam diam ante</li>
        <li><i class="fa-li fa fa-check-square"></i>aliquet sit amet vulputate</li>
        <li><i class="fa-li fa fa-check-square"></i>Eget mattis at, laoreet vel velit lorem</li>
      </ul></td>
    </tr>
        </table>
  </div>
  <div class="col2-12"></div>
</div>


<div id="area" class="container " style="margin-top: 10px; padding-bottom: 0px; background-color: #262626" >
  <div class="col2-12"></div> 
  <div class="col8-12">
      
        <h2 align="center" style="color: white;"><hr width="50%" ></h2>

  </div>
  <div class="col2-12"></div>     
</div>

<div id="area" class="container " style="margin-top: 20px; padding-bottom: 0px; background-color: #262626" >
  <div class="col2-12"></div> 
  <div class="col8-12">
      
        <h2 align="center" style="color: white"><strong><i class="fa fa-bar-chart"></i></strong> Charts area</h2>

  </div>
  <div class="col2-12"></div>     
</div>


<div class="container" style="margin-top: 0px; margin-bottom: 0px;" >

<div class="col2-12"></div>
<div class="col4-12" style="margin-top: 0px;">

 

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript"> 

    google.load('visualization','1.1',{'packages': ["corechart"]});

    google.setOnLoadCallback (createChart);

        function createChart() {
          var dataTable = google.visualization.arrayToDataTable([
            ['Language', 'Level'],
            ['C', 4],
            ['Python',2.5],
            ['Ruby',3],
            ['CSS',2],
            ['HTML',3],
            ['Javascript',1]
            ]);

        var dataTable2 = google.visualization.arrayToDataTable([
            ['', 'Count'],
            ['Teams', 3],
            ['Projects',8],
            ['Awards',2],
            ]);

          

          var chart = new google.visualization.BarChart(document.getElementById('chart'));
          var chart2 = new google.visualization.ColumnChart(document.getElementById('chart2'));
          var options = {width: 450, height: 350, title: 'Language skills', titleTextStyle: {fontSize: "18", color: "white"}, titlePosition: "out",
                   fontName: 'PT Sans', fontSize: 18, legend: "none", tooltip: {trigger: 'focus'}, backgroundColor: '#262626',
                   hAxis: {maxValue: 5, minValue: 0, baselineColor: "white", textStyle: {color: "white"}, gridlines: {count: 3}},
                   vAxis: {baselineColor: "white", textStyle: {color: "white"}}, colors: ['#83E68B'],

          };

          var options2 = {width: 450, height: 350, title: 'Work stats', titleTextStyle: {fontSize: "18", color: "white"}, titlePosition: "out",
                   fontName: 'PT Sans', fontSize: 18, legend: "none", tooltip: {trigger: 'focus'}, backgroundColor: '#262626',
                   hAxis: {maxValue: 5, minValue: 0, baselineColor: "white", textStyle: {color: "white"}, gridlines: {count: 3}},
                   vAxis: {baselineColor: "white", textStyle: {color: "white"}}, colors: ['#83E68B'],

          };
          
          chart.draw(dataTable,options);
          chart2.draw(dataTable2,options2);

        }

    </script>
<div id="chart"></div>


</div>
<div class="col4-12" style="margin-top: 0px;"><div id="chart2"></div></div>
<div class="col2-12"></div>
</div>
</div>
 <div class="container " style="margin-top: 0px; padding-bottom: 0px; background-color: RGBA(60, 182, 227, 1); padding-top: 20px; " >
  <div class="col2-12" style="text-align: right; color: white"><i class="fa fa-quote-left"></i></div> 
  <div class="col8-12">
      
        <h4 align="center" style="color: white"><strong> The creation of something new is not accomplished by the intellect but by the play instinct acting from inner necessity. The creative mind plays with the objects it loves.
        </h4>
        <h4 align="center" style="color: white">Carl Gustav Jung</h4>

  </div>
  <div class="col2-12"></div>     
</div> 


 <div class="col12-12 " style="margin-top: 0px; padding-bottom: 0px;  padding-top: 50px; background-color: #262626;">

  
<div style="padding-bottom: 50px; margin-top: 000px;">

<div class="container" style="background-color: #262626;">
  <div class="col2-12"></div>
  <div class="col1-12 rotate"><h1 align="center" style="color: white"><i class="fa fa-wrench"></i> Tools</h1></div> 
  <div class="col4-12" >
      <%= raw add_skill("ClearCase",3.5, "http://www-03.ibm.com/software/products/pl/clearcase") %>
      <%= raw add_skill("Git",2.5, "http://git-scm.com/") %>
      <%= raw add_skill("Rails",2.5, "http://rubyonrails.org/") %>

  </div>
    <div class="col4-12">
      <%= raw add_skill("Jenkins CI",3.5, "https://jenkins-ci.org/") %>
      <%= raw add_skill("Unix",3, "http://www.unix.org/") %>
      <%= raw add_skill("Your stuff?",5.5, "#") %>

   </div>

  <div class="col1-12"></div>     
</div>

<script type="text/javascript" src="/assets/resumeBuilder.js"></script>
</div>
</div></div> 


<div class="container " style="margin-top: 30px; padding-bottom: 0px; background-color: white" >
  <div class="col2-12"></div> 
  <div class="col8-12">
      
        <h2 align="center" style="color: black"><strong><i class="fa fa-music"></i></strong> Guitar center</h2>
        <h3 align="center" style="color: gray">Listen to my little cover of Jimi Hendrix's "Little Wing"</h3>

  </div>
  <div class="col2-12"></div>     
</div>
<div class="container" style="margin-top: 0px; padding-bottom: 50px; background-color: white" >
    <div class="col2-12"></div>
    <div class="col8-12">

        <div id="player"></div>

    </div>
    <div class="col2-12"></div>


</div>

<div class="container" style="margin-top: 0px; padding-bottom: 150px; padding-top: 50px; background-color: black" >
    <div class="col2-12"></div>
    <div class="col8-12">
      <h2 align="center" style="color: white">CONTACT ME</h2>


    </div>
    <div class="col2-12"></div>


</div>