<div class="container" >

  <div class="col12-12 sl-slide-wrapper" id="slider">

    <div class="sl-slider"> 

        <div class="sl-slides-wrappper">

              <div class="portfolio-header bg-1 sl-slide-horizontal"  style="padding-bottom: 400px;">
 
                  <div class="sl-content-wrapper">                

                      <div class="sl-content">

                            <i class="fa fa-keyboard-o fa-4x" style="color: white; margin-top: 160px; padding-bottom: 50px"></i>
                            <h1 style="font-size: 4em;"><strong>LOOKING FOR A GREAT TEAM PLAYER?</strong></h1>

                      </div>

                  </div>

              </div>

              <div class="portfolio-header bg-2 sl-slide-horizontal"  style="padding-bottom: 400px;">
 
                  <div class="sl-content-wrapper">                

                      <div class="sl-content">

                            <i class="fa fa-keyboard-o fa-4x" style="color: white; margin-top: 160px; padding-bottom: 50px"></i>
                            <h1 style="font-size: 4em;"><strong><%= "Make a journey through this site".upcase %></strong></h1>
                          
                      </div>

                  </div>

              </div>

              <div class="portfolio-header bg-3 sl-slide-horizontal"  style="padding-bottom: 400px;">
 
                  <div class="sl-content-wrapper">                

                      <div class="sl-content">

                            <i class="fa fa-keyboard-o fa-4x" style="color: white; margin-top: 160px; padding-bottom: 50px"></i>
                            <h1 style="font-size: 4em;"><strong>WORK WITH ME. HIRE ME</strong></h1>


                      </div>

                  </div>

              </div>

          </div>

    </div>

    <nav id="nav-arrows" class="nav-arrows">
      <span class="nav-arrows-prev prev">Previous</span>
      <span class="nav-arrows-next next">Next</span>
    </nav>

    <nav id="nav-dots" class="nav-dots">
      <span class="nav-dot-current nav-dot-firts"></span>
      <span class="nav-dot-second"></span>
      <span class="nav-dot-third"></span>
    </nav>

    <button id="arrow">
      <span>↓</span>
    </button>

  </div>

</div>

<div id="main" class="container" style="margin-top: 10px; padding-top: 30px" >
  <div class="col2-12"></div> 
  <div class="col8-12">
      
        <h2 align="center"><strong>Check out the below items</strong></h2>

  </div>
  <div class="col2-12"></div>      
</div>


<div class="container" style="margin-top: 40px">
  <div class="col2-12"></div>
  <div class="col1-12" align="center"><i class="fa fa-laptop fa-3x"></i></div>
  <div class="col3-12"><h4>Experienced player</h4>Almost four years of experience in large projects in area of embedded systems from various perspectives: software tester, tests automation, software development. The goal: creation of good quality software for Motorola Solutions TETRA mobile radios and portable terminals.</div>
  <div class="col1-12" align="center"><i class="fa fa-users fa-3x"></i></div>
  <div class="col3-12"><h4>Agile/Scrum methodologies</h4>Good knowlegde of Agile/Scrum methodologies. Work with iterative and incremental process. Single iteration consist of sprint planning, daily meetings, sprint review, demos and retrospective meeting. </div>
  <div class="col2-12"></div>
</div>

<div class="container" style="margin-top: 40px" style="margin-bottom: 40px">
  <div class="col2-12"></div>
  <div class="col1-12" align="center"><i class="fa fa-calculator fa-3x"></i></div>
  <div class="col3-12"><h4>Multitasking team member</h4>Broad spectrum of skills: analysis of requirements and documentation, creation of test scenarios, test automation, fixing of reported bugs, code refactoring, developing new features.</div>
  <div class="col1-12" align="center"><i class="fa fa-bug fa-3x"></i></div>
  <div class="col3-12"><h4>Critical thinker and realistic</h4>Ability to recognize problems and interpret data to appraise ideas and evaluate arguments - good isolation of the problem from context. Understanding how difficult problems are and how long tasks will take. Ability to prioritize tasks and gathering information needed to make the judgment well.</div>
  <div class="col2-12"></div>
</div>

<div class="container" style="margin-top: 40px">
  <div class="col2-12"></div>
  <div class="col1-12" align="center"><i class="fa fa-coffee fa-3x"></i></div>
  <div class="col3-12"><h4>Fast adaptation to new environment</h4>Skill of gaining experience in new technologies and techniques rapidly. Is is a new programming language? Is it a new framework? It does not matter. I love trying things out.</div>
  <div class="col1-12" align="center"><i class="fa fa-code fa-3x"></i></div>
  <div class="col3-12"><h4>From embedded systems to web/mobile applications development?</h4>My goal is to make a step to technologies which are characterized by smaller teams and bigger impact on the product. I am ready to get more responsibility for the project and get involved in developing good quality software.</div>
  <div class="col2-12"></div>
</div>

<div id="sheet" class="radio" style="background-color: #262626">
<div class="container timesheet-layout" >
  <div class="col2-12"></div>
    <div class="col8-12 timesheet-title">
      <h2 align="center"><strong><i class="fa fa-calendar-o"></i> Timesheet</strong></h2>
      <div id="timesheet">

                          <script align="center" type="text/javascript">
                          new Timesheet('timesheet', 2010, 2015, [
                            ['2010','2011', 'AGH Univeristy of Science and Technology', 'lorem'],
                            ['06/2011', '10/2012','Test Engineer, Motorola Solutions','dolor'],
                            ['10/2012', '10/2013','Software Enigneer in Test Automation, Motorola Solutions','default'],
                            ['10/2013', '06/2015', 'Software Developer, Motorola Solutions', 'ipsum']                          
                          ]);</script>

      </div>  
    </div>
  <div class="col2-12"></div>
</div>



<div class="container" style="margin-top: 10px;">
  <div class="col2-12"></div>
  <div class="col8-12">
    <table style="color: white" width="100%" align="center">
    <tr>
      <td width="33%"><h2 style="font-size: 1.2em;color: RGBA(244, 207, 48, 1); text-align: center"><i class="fa fa-file-text fa-3x"></i></h2>
      </td>
      <td width="33%"><h2 style="font-size: 1.2em;color: RGBA(252, 70, 74, 1); text-align: center"><i class="fa fa-file-text fa-3x"></i></h2></td>
      <td width="33%"><h2 style="font-size: 1.2em;color: RGBA(60, 182, 227, 1); text-align: center"><i class="fa fa-file-text fa-3x"></i></h2></td>      
    </tr>
    <tr>
      <td><h2 style="font-size: 1em;color: white; text-align: center">Test Engineer</h2><hr width="15%"></td>
      <td><h2 style="font-size: 1em;color: white; text-align: center">Software Enigneer in Test Automation</h2><hr width="15%"></td>
      <td><h2 style="font-size: 1em;color: white; text-align: center">Software Developer</h2><hr width="15%"></td>  
    </tr>
    <tr style="vertical-align: top;">
      <td><ul class="fa-ul" style="color: white">
        <li><i class="fa-li fa fa-check-square"></i>black box testing of Motorola Solutions TETRA mobile radios and portable terminals</li>
        <li><i class="fa-li fa fa-check-square"></i>responsibility for regression and integration tests</li>
        <li><i class="fa-li fa fa-check-square"></i>analyzing of functional requirements</li>
        <li><i class="fa-li fa fa-check-square"></i>creating new test scenarios</li>
        <li><i class="fa-li fa fa-check-square"></i>reporting bugs</li>
        <li><i class="fa-li fa fa-check-square"></i>fixes validation</li>
      </ul></td>
      <td><ul class="fa-ul" style="color: white">
        <li><i class="fa-li fa fa-check-square"></i>executing and maintaining automated tests of Motorola Solutions TETRA mobile radios and portable terminals</li>
        <li><i class="fa-li fa fa-check-square"></i>responsibility for regression tests, stress tests, key performance indicator tests, longevity tests</li>
        <li><i class="fa-li fa fa-check-square"></i>creating new automated scenarios using Motorola Internal Software</li>
        <li><i class="fa-li fa fa-check-square"></i>creating scripts in Python to analyze data from tests</li>
        <li><i class="fa-li fa fa-check-square"></i>version control of test scripts using TortoiseSVN</li>
      </ul></td>
      <td><ul class="fa-ul" style="color: white">
        <li><i class="fa-li fa fa-check-square"></i>developing software for Motorola Solutions TETRA mobile radios and portable terminals in Tetra Subscribers Singalling team</li>
        <li><i class="fa-li fa fa-check-square"></i>analyzing and fixing bugs including issues reported by clients</li>
        <li><i class="fa-li fa fa-check-square"></i>code refactoring</li>
        <li><i class="fa-li fa fa-check-square"></i>developing new features</li>
        <li><i class="fa-li fa fa-check-square"></i>version control of the code using ClearCase</li>
        <li><i class="fa-li fa fa-check-square"></i>preparing and executing tests for new features using Python</li>
        <li><i class="fa-li fa fa-check-square"></i>version control of test scripts using Git</li>
        <li><i class="fa-li fa fa-check-square"></i>automation of integration environment using Jenkins CI</li>
      </ul></td>
    </tr>
        </table>
  </div>
  <div class="col2-12"></div>
</div>


<div id="area" class="container " style="margin-top: 10px; padding-bottom: 0px; background-color: #262626" >
  <div class="col2-12"></div> 
  <div class="col8-12">
      
        <h2 align="center" style="color: white;"><hr width="50%" ></h2>

  </div>
  <div class="col2-12"></div>     
</div>

<div id="area" class="container " style="margin-top: 20px; padding-bottom: 0px; background-color: #262626" >
  <div class="col2-12"></div> 
  <div class="col8-12">
      
        <h2 align="center" style="color: white"><strong><i class="fa fa-bar-chart"></i></strong> Charts area</h2>

  </div>
  <div class="col2-12"></div>     
</div>


<div class="container" style="margin-top: 0px; margin-bottom: 0px;" >

<div class="col2-12"></div>
<div class="col4-12" style="margin-top: 0px;">

 

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript"> 

    google.load('visualization','1.1',{'packages': ["corechart"]});

    google.setOnLoadCallback (createChart);

        function createChart() {
          var dataTable = google.visualization.arrayToDataTable([
            ['Language', 'Level'],
            ['C', 4],
            ['Python',2.5],
            ['Ruby',3],
            ['CSS',2],
            ['HTML',3],
            ['Javascript',1]
            ]);

        var dataTable2 = google.visualization.arrayToDataTable([
            ['', 'Count'],
            ['Teams', 3],
            ['Projects',8],
            ['Awards',2],
            ]);

          

          var chart = new google.visualization.BarChart(document.getElementById('chart'));
          var chart2 = new google.visualization.ColumnChart(document.getElementById('chart2'));
          var options = {width: 450, height: 350, title: 'Language skills', titleTextStyle: {fontSize: "18", color: "white"}, titlePosition: "out",
                   fontName: 'PT Sans', fontSize: 18, legend: "none", tooltip: {trigger: 'focus'}, backgroundColor: '#262626',
                   hAxis: {maxValue: 5, minValue: 0, baselineColor: "white", textStyle: {color: "white"}, gridlines: {count: 3}},
                   vAxis: {baselineColor: "white", textStyle: {color: "white"}}, colors: ['#83E68B'],

          };

          var options2 = {width: 450, height: 350, title: 'Work stats', titleTextStyle: {fontSize: "18", color: "white"}, titlePosition: "out",
                   fontName: 'PT Sans', fontSize: 18, legend: "none", tooltip: {trigger: 'focus'}, backgroundColor: '#262626',
                   hAxis: {maxValue: 5, minValue: 0, baselineColor: "white", textStyle: {color: "white"}, gridlines: {count: 3}},
                   vAxis: {baselineColor: "white", textStyle: {color: "white"}}, colors: ['#83E68B'],

          };
          
          chart.draw(dataTable,options);
          chart2.draw(dataTable2,options2);

        }

    </script>
<div id="chart"></div>


</div>
<div class="col4-12" style="margin-top: 0px;"><div id="chart2"></div></div>
<div class="col2-12"></div>
</div>
</div>
 <div class="container " style="margin-top: 0px; padding-bottom: 0px; background-color: RGBA(60, 182, 227, 1); padding-top: 20px; " >
  <div class="col2-12" style="text-align: right; color: white"><i class="fa fa-quote-left"></i></div> 
  <div class="col8-12">
      
        <h4 align="center" style="color: white"><strong> The creation of something new is not accomplished by the intellect but by the play instinct acting from inner necessity. The creative mind plays with the objects it loves.
        </h4>
        <h4 align="center" style="color: white">Carl Gustav Jung</h4>

  </div>
  <div class="col2-12"></div>     
</div> 


 <div class="col12-12 " style="margin-top: 0px; padding-bottom: 0px;  padding-top: 50px; background-color: #262626;">

  
<div style="padding-bottom: 50px; margin-top: 000px;">

<div class="container" style="background-color: #262626;">
  <div class="col2-12"></div>
  <div class="col1-12 rotate"><h1 align="center" style="color: white"><i class="fa fa-wrench"></i> Tools</h1></div> 
  <div class="col4-12" >
      <%= raw add_skill("ClearCase",3.5, "http://www-03.ibm.com/software/products/pl/clearcase") %>
      <%= raw add_skill("Git",2.5, "http://git-scm.com/") %>
      <%= raw add_skill("Rails",2.5, "http://rubyonrails.org/") %>

  </div>
    <div class="col4-12">
      <%= raw add_skill("Jenkins CI",3.5, "https://jenkins-ci.org/") %>
      <%= raw add_skill("Unix",3, "http://www.unix.org/") %>
      <%= raw add_skill("Your stuff?",5.5, "https://www.youtube.com/watch?v=dQw4w9WgXcQ") %>

   </div>

  <div class="col1-12"></div>     
</div>

</div>
</div></div> 


<div class="container " style="margin-top: 30px; padding-bottom: 30px; background-color: white" >
  <div class="col2-12"></div> 
  <div class="col8-12">
      
        <h2 align="center" style="color: black"><strong><i class="fa fa-music"></i></strong> Guitar center</h2>
        <h3 align="center" style="color: gray">Listen to my little cover of Jimi Hendrix's "Little Wing"</h3>

  </div>
  <div class="col2-12"></div>     
</div>
<div class="container" style="margin-top: 0px; padding-bottom: 50px; background-color: white" >
    <div class="col2-12"></div>
    <div class="col8-12">

        <div id="player"></div>

    </div>
    <div class="col2-12"></div>


</div>

<div class="container" style="margin-top: 0px; padding-bottom: 50px; padding-top: 50px; background-color: black" >
    <div class="col2-12"></div>
    <div class="col8-12">
      <h2 align="center" style="color: white">
        <span id="tools">
        <%=  raw add_contact("<i class=\"fa fa-google-plus\"></i>", "https://plus.google.com/u/0/112300075374770642797/posts/p/pub") %> 
        <%=  raw add_contact("<i class=\"fa fa-linkedin\"></i>", "https://www.linkedin.com/profile/view?id=154831922") %>
        <%=  raw add_contact("<i class=\"fa fa-facebook\"></i>", "https://www.facebook.com/arek.gazdziak") %>
        <%=  raw add_contact("<i class=\"fa fa-twitter\"></i>", "https://twitter.com/arekg") %>
        </span></h2>
      
      <h4 align="center" style="color: white"><span id="tools" class="email"></span></h4>
      <h4 align="center" style="color: white">| Contact me |</h4>
      <h4 align="center" style="color: white">2015</h4>

    </div>
    <div class="col2-12"></div>


</div>
<script type="text/javascript" src="/assets/portfolio.js"></script>