<!DOCTYPE html>
<html>
<head>
  <link href="http://yui.yahooapis.com/combo?pure/0.2.0/base-min.css&pure/0.2.0/grids-min.css&pure/0.2.0/forms-min.css&pure/0.2.0/buttons-min.css&pure/0.2.0/menus-min.css&pure/0.2.0/tables-min.css" rel="stylesheet"></link>
  <title><%= @title %> | Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//connect.soundcloud.com/sdk.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>
  	<div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
		<a href="/" data-no-turbolink='true' class="pure-menu-heading">Blog</a>
		<ul>
			<li><a href="/" data-no-turbolink='true' >Latest</a></li>
			<li><a href="/articles" data-no-turbolink='true'>Articles</a></li>
			<% if current_user.try(:admin?) %>
      <li><a href="/articles/new" data-no-turbolink='true' >New article</a></li>
      <% end %>
      <li><a href="/portfolio" data-no-turbolink='true' >Portfolio</a></li>

      <% if !user_signed_in? %>
      <li align="right"><a href="/users/auth/google_oauth2" data-no-turbolink='true' >Log in</a></li>
      <!-- <li><a href="#" data-no-turbolink='true' >Edyta</a></li> -->
      <% else %>
      <li><%= link_to "Log out", destroy_user_session_path, :method => :delete, data_no_trubolink: true %></li>
      <li>Hi, <%= current_user.email %>!</li>
      <% end %>
    </ul>
  </div>
  <div class="row">


  <%= yield %>

  </div>
</body>
</html>
